body{
    font-family: "Helvetica Neue",
    "Arial",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    "Meiryo",
    sans-serif;
}
/*ヘッダー画像*/
header h1{
    position: relative;
    z-index: 5;
}
/*メニューアイコンここから*/
header .icon{
    width: clamp(3rem, 0.833rem + 3.61vw, 7rem);
    height: auto;
    position: fixed;
    top: 20px;
    right: 20px;
    margin: auto;
    z-index: 3;
    fill: #45e545;
}
.open_menu_icon{
    width: clamp(3rem, 0.833rem + 3.61vw, 7rem);
    height: auto;
    position: fixed;
    top: 20px;
    right: 20px;
    margin: auto;
    z-index: 6;
    fill: #fff;
}
/*メニューアイコンここまで*/
.mainvisual{
    position: relative;
}
/*メニュー*/
header{
    position: relative;
}
a{
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
}
.icon_menu li{
    font-size: clamp(1.4rem, 0.858rem + 0.9vw, 2.4rem);
}
nav{
    background: #45E545;
    position: fixed;
    top: 0;
    right: 0;
    overflow-x: hidden;
    text-align: center;
    z-index: 5;
    font-size: 2rem;
    width: 0;
    height: 100%;
    transition: .5s;
}
nav.open-menu {
    width: clamp(25rem, 16.874rem + 13.53vw, 40rem);
  }
.icon_menu ul{
    margin-top: clamp(2rem, -1.25rem + 5.41vw, 8rem);
    margin-bottom: clamp(10rem, 2.208rem + 6.31vw, 13rem);
}
.menu_text{
    font-size: clamp(1.5rem, 1.229rem + 0.45vw, 2rem);
    color: #E02828;
    margin: 2rem 0;
}
.icon_menu li a{
    display: block;
    height: 100%;
    width: 100%;
    padding: clamp(2rem, 0.917rem + 1.8vw, 4rem) 0;
    text-decoration: none;
}
@media screen and (min-width: 961px) {
    /*メニュー*/
    .twi_menu{
        margin: 0 clamp(2rem, 1.458rem + 0.9vw, 3rem) 0 3rem;
    }
    .insta_menu{
        margin: 0 3rem 0 clamp(2rem, 1.458rem + 0.9vw, 3rem);
    }
    /*PCmainvisual*/
    .mainvisual_pc{
        display: block;
        width: 100%;
        height: auto;
        z-index: 0;
    }
    .mainvisual_sp{
        display: none;
    }
    .mainvisual_logo{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        margin: auto;
        width: 20%;
    }
    .mainvisual_message{
        width: 30%;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .whiteline{
        width: 100%;
        height: 10vh;
        background-image: url(../image/White_line.png);
        background-repeat: repeat-x;
    }
    .whiteline_01{
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        z-index: 0;
    }
    /*PCtopintro*/
    .topintro{
        position: relative;
        width: 100%;
        height: clamp(25rem, 22.833rem + 3.61vw, 29rem);
    }
    .background_white_topintro{
        width: 100%;
        height: clamp(25rem, 22.833rem + 3.61vw, 29rem);
        background-image: url(../image/White_back.jpg);
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: repeat;
        z-index: 0;
    }
    .spoon_spice{
        width: clamp(22rem, 21.458rem + 0.9vw, 23rem);
        position: absolute;
        top: 2%;
        left: clamp(9rem, -10.502rem + 32.47vw, 45rem);
        z-index: 1;
    }
    .topintro_catch{
        width: 15%;
        position: absolute;
        top: 17%;
        left: 54%;
    }
    .topintro_read{
        width: 32%;
        position: absolute;
        top: 38%;
        left: 54%;
        font-size:clamp(0.7rem, 0.537rem + 0.27vw, 1rem);
        line-height: 2em;
    }
    .redline{
        width: 100%;
        height: 10vh;
        background-image: url(../image/red_line.png);
        background-repeat: repeat-x;
    }
    .redline_01{
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    /*PCspice_effect*/
    .spice_effect{
        position: relative;
        width: 100%;
        height: clamp(100rem, 58.243rem + 69.52vw, 170rem);
    }
    .background_red_spice_effect{
        width: 100%;
        height: clamp(100rem, 58.243rem + 69.52vw, 170rem);
        background-image: url(../image/red_back.jpg);
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: repeat;
        z-index: 0;
    }
    .chili_icon_white{
        width: 10%;
        position: absolute;
        top: 2%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .headline_white{
        position: absolute;
        top: clamp(11rem, 3.245rem + 12.91vw, 24rem);
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        font-size: clamp(2rem, 1.458rem + 0.9vw, 3rem);
    }
    .spices{
        width: clamp(25rem, 18.438rem + 10.92vw, 36rem);
        position: absolute;
        top: 10%;
        left: 0;
    }
    .spices2{
        width: clamp(22rem, 14.842rem + 11.92vw, 34rem);
        position: absolute;
        top: clamp(30rem, 37.755rem + -12.91vw, 17rem);
        right: 0;
    }
    .balloon1{
        width: clamp(24rem, 19.666rem + 7.22vw, 32rem);
        position: absolute;
        top: 23%;
        left: 28%;
    }
    .balloon2_pc{
        width: clamp(24rem, 19.666rem + 7.22vw, 32rem);
        position: absolute;
        top: 38%;
        left: 52%;
    }
    .balloon2_sp{
        display: none;
    }
    .balloon3{
        width: clamp(24rem, 19.666rem + 7.22vw, 32rem);
        position: absolute;
        top: 53%;
        left: 28%;
    }
    .balloon4_pc{
        width: clamp(26rem, 24.375rem + 2.71vw, 29rem);
        height: clamp(9rem, 3.631rem + 8.94vw, 10rem);
        position: absolute;
        top: 67%;
        left: 52%;
    }
    .balloon4_sp{
        display: none;
    }
    .balloon1_text{
        width: clamp(18rem, 16.375rem + 2.71vw, 21rem);
        position: absolute;
        top: 24%;
        left: 34.5%;
    }
    .balloon2_text{
        width: clamp(17rem, 7.456rem + 15.89vw, 20rem);
        position: absolute;
        top: 39%;
        left: 54%;
    }
    .balloon3_text{
        width: clamp(17rem, 8.456rem + 15.89vw, 19rem);
        position: absolute;
        top: 54%;
        left: clamp(21.5rem, 3.082rem + 30.67vw, 55.5rem);
    }
    .balloon4_text{
        width: clamp(18rem, 8.456rem + 15.89vw, 21rem);
        position: absolute;
        top: 68%;
        left: clamp(33.5rem, 5.06rem + 47.35vw, 86rem);
    }
    .balloon_title{
        text-align: center;
        font-size: clamp(1.8rem, 1.692rem + 0.18vw, 2rem);
        font-weight: bold;
        margin-bottom: 5%;
    }
    .balloon_writing{
        text-align: center;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .button_chili{
        width: 20%;
        margin: auto;
    }
    .button_chili_01{
        position: absolute;
        top: 84%;
        left: 0;
        right: 0;
    }
    .button_chili .white_letters{
        color: #fff;
        font-size: clamp(0.8rem, 0.637rem + 0.27vw, 1.1rem);
        text-align: center;
    }
    .button_chili img{
        width: 67%;
    }
    .button_chili img:hover{
        margin-left: 5rem;
        transition: .5s;
    }
    .button_chili_img{
        padding-right: 0;
    }
    .whiteline_02{
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        z-index: 0;
    }
    /*PCrecipe*/
    .recipe{
        position: relative;
        width: 100%;
        height: clamp(100rem, 28.417rem + 119.18vw, 220rem);
    }
    .background_white_recipe{
        width: 100%;
        height: clamp(100rem, 28.417rem + 119.18vw, 220rem);
        background-image: url(../image/White_back.jpg);
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: repeat;
        z-index: 0;
    }
    .chili_icon{
        width: 10%;
        position: absolute;
        top: 2%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
    }
    .comment{
        width: 10%;
        position: absolute;
        top: 9%;
        left: 31%;
    }
    .headline_red{
        position: absolute;
        top: 14%;
        left: 0;
        right: 0;
        text-align: center;
        color: #E02828;
        font-size: clamp(2rem, 0.873rem + 1.88vw, 4rem);
    }
    .green_herb1{
        width: 14%;
        position: absolute;
        top: 11%;
        left: 5%;
    }
    .green_herb2{
        width: 14%;
        position: absolute;
        top: 40%;
        left: 83%;
    }
    .green_herb3{
        width: 14%;
        position: absolute;
        top: 70%;
        left: 10%;
    }
    .recipe1_shadow{
        width: clamp(20rem, 8.07rem + 19.86vw, 40rem);
        position: absolute;
        top: 22%;
        left: clamp(7rem, -6.72rem + 22.84vw, 30rem);
    }
    .recipe2_shadow{
        width: clamp(20rem, 8.07rem + 19.86vw, 40rem);
        position: absolute;
        top: 22%;
        left: 61%;
    }
    .recipe3_shadow{
        width: clamp(20rem, 8.07rem + 19.86vw, 40rem);
        position: absolute;
        top: clamp(52rem, 12.033rem + 66.54vw, 119rem);
        left: clamp(23rem, -3.247rem + 43.7vw, 67rem);
    }
    .recipe1{
        width: clamp(17rem, 6.859rem + 16.88vw, 34rem);
        position: absolute;
        top: 22%;
        left: clamp(7rem, -6.72rem + 22.84vw, 30rem);
        border-radius: 50%;
    }
    .recipe2{
        width: clamp(17rem, 6.859rem + 16.88vw, 34rem);
        position: absolute;
        top: 22%;
        left: 61%;
        border-radius: 50%;
    }
    .recipe3{
        width: clamp(17rem, 6.859rem + 16.88vw, 34rem);
        position: absolute;
        top: clamp(52rem, 12.033rem + 66.54vw, 119rem);
        left: clamp(23rem, -3.247rem + 43.7vw, 67rem);
        border-radius: 50%;
    }
    .button_recipe{
        width: 25%;
        height: clamp(7rem, 2.198rem + 8vw, 15rem);
        text-align: center;
    }
    .button_title{
        font-size: clamp(1.5rem, 0.6rem + 1.5vw, 3rem);
        font-weight: bold;
        margin: clamp(0.5rem, -1.001rem + 2.5vw, 3rem);
    }
    .button_recipe a{
        display: inline-block;
        width: 70%;
        height: 42%;
        background: #EFE036; 
        color: #E02828;
        font-weight: bold;
        text-decoration: none;
        border-radius: 50px;
    }
    .button_recipe a:hover{
        background-color: #E02828;
        color: #EFE036;
    }
    .button01 p{
        font-size: clamp(1rem, 0.4rem + 1vw, 2rem);
        margin: clamp(0.8rem, 0.02rem + 1.3vw, 2.1rem);
    }
    .button_recipe_01{
        position: absolute;
        top: 42%;
        left: clamp(8.5rem, -2.536rem + 18.37vw, 27rem);
    }
    .button_recipe_02{
        position: absolute;
        top: 42%;
        left: clamp(37rem, 2.402rem + 57.6vw, 95rem);
    }
    .button_recipe_03{
        position: absolute;
        top: 74%;
        left: 41%;
    }
    .button_chili_02{
        position: absolute;
        top: clamp(85rem, 21.172rem + 106.27vw, 192rem);
        left: 0;
        right: 0;
    }
    .button_chili .red_letters{
        color: #E02828;
        font-size: clamp(0.8rem, 0.637rem + 0.27vw, 1.1rem);
        text-align: center;
    }
    .redline_02{
        position: absolute;
        top: auto;
        left: 0;
        bottom: 0;
        z-index: 1;
    }
    /*PCcolumn*/
    .column{
        position: relative;
        width: 100%;
        height: clamp(82rem, 11.61rem + 117.19vw, 200rem);
    }
    .background_red_column{
        width: 100%;
        height: clamp(82rem, 11.61rem + 117.19vw, 200rem);
        background-image: url(../image/red_back.jpg);
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: repeat;
        z-index: 0;
    }
    .column_list{
        list-style-type: none;
    }
    .column_design{
        width: 33%;
        height: 20%;
        position: relative;
    }
    .column_design_imagebox{
        width: 100%;
        height: 69%;
        border-top-left-radius: 30px;
        overflow: hidden;
    }
    .column_design img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        clip-path: polygon(100% 0, 100% 69%, 82% 100%, 0 100%, 0 0);
    }
    .column_design img:hover{
        transform: scale(1.2);
    }
    .column_triangle{
        position: absolute;
        top: 60%;
        left: 93%;
        border-right: clamp(0.625rem, 0.137rem + 0.81vw, 1.438rem) solid transparent;
        border-bottom: clamp(1.038rem, 0.287rem + 1.25vw, 2.288rem) solid #fff;
        border-left: clamp(0.625rem, 0.137rem + 0.81vw, 1.438rem) solid transparent; 
        transform:rotate(90deg);
        z-index: 2;
    }
    .column_design_info{
        width: 100%;
        height: 24%;
        display: flex;
        margin-top: 4%;
    }
    .column_design_date{
        width: clamp(3.7rem, 0.538rem + 5.26vw, 9rem);
        height: 100%;
        margin: 0;
        display: table;
        background-color: #EFE036;
        padding: 0;
        position: relative;
    }
    .column_design_date p{
        color: #E02828;
        font-size: clamp(0.8rem, 0.15rem + 1.08vw, 2rem);
        line-height: 1.7;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%)translateX(-50%);
        -webkit-transform: translateY(-50%)translateX(-50%);        
    }
    .column_design_text{
        width: 85%;
        font-size: clamp(1rem, 0.4rem + 1vw, 2rem);
        padding: 0 2%;
        line-height: 1.3;
        color: #fff;
    }
    .column_01{
        position: absolute;
        top: 20%;
        left: 11%;
    }
    .column_02{
        position: absolute;
        top: 20%;
        left: 54%;
    }
    .column_03{
        position: absolute;
        top: 52%;
        left: 11%;
    }
    .column_04{
        position: absolute;
        top: 52%;
        left: 54%;
    }
    .button_chili_03{
        position: absolute;
        top: 84%;
        left: 0;
        right: 0;        
    }
    .redline_03{
        position: absolute;
        top: auto;
        left: 0;
        bottom: -3rem;
        z-index: 1;
        transform: rotate(180deg);
    }
    /*PCfooter*/
    .footer{
        position: relative;
    }
    .footer_pc{
        display: block;
        width: 100%;
        height: auto;
        z-index: 0;
    }
    .footer_sp{
        display: none;
    }
    .footer .text_01{
        position: absolute;
        top: clamp(4rem, -0.772rem + 7.95vw, 12rem);
        left: clamp(32rem, 3.367rem + 47.67vw, 80rem);
        font-size: 1.5rem;
        color: #E02828;
    }
    .twi{
        position: absolute;
        top: clamp(7rem, 1.631rem + 8.94vw, 16rem);
        left: clamp(28rem, -0.037rem + 46.68vw, 75rem);
    }
    .insta{
        position: absolute;
        top: clamp(7rem, 1.631rem + 8.94vw, 16rem);
        left: clamp(36.5rem, 7.27rem + 48.67vw, 85.5rem);
    }
}
@media screen and (max-width: 960px) {
    /*メニューアイコンここから*/
    header .icon{
        width: clamp(3rem, 1rem + 10vw, 7rem);
        height: auto;
        top: clamp(0.625rem, 3.13vw, 1.875rem);
        right: clamp(0.625rem, 3.13vw, 1.875rem);
    }
    .open_menu_icon{
        width: clamp(3rem, 1rem + 10vw, 7rem);
        height: auto;
        top: clamp(0.625rem, 3.13vw, 1.875rem);
        right: clamp(0.625rem, 3.13vw, 1.875rem);
    }
    /*SPmainvisual*/
    .mainvisual_pc{
        display: none;
    }
    .mainvisual_sp{
        display: block;
        width: 100%;
        height: auto;
    }
    .mainvisual_logo{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        margin: auto;
        width: 55%;
    }
    .mainvisual_message{
        width: 66%;
        position: absolute;
        top: 75%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
    }
    .whiteline{
        width: 100%;
        height: clamp(7rem, -0.051rem + 30.09vw, 18rem);
        background-image: url(../image/White_line_sp_2x.png);
        background-repeat: repeat-x;
        background-size: cover;
    }
    .whiteline_01{
        position: absolute;
        top: auto;
        left: 0;
        bottom: -4rem;
        z-index: 0;
    }
    /*メニュー*/
    nav{
        height: clamp(40rem, 10rem + 133.33vw, 90rem);
    }
    nav.open-menu {
        width: clamp(22.5rem, 9.6rem + 57.33vw, 44rem);
      }
    .icon_menu li{
        font-size: clamp(1.5rem, 1.2rem + 1.33vw, 2rem);
    }
    .icon_menu li a{
        display: block;
        height: 100%;
        width: 100%;
        padding: clamp(1.2rem, 0.12rem + 4.8vw, 3rem) 0;
    }
    .icon_menu ul{
        margin-top: clamp(3rem, 13.33vw, 8rem);
        margin-bottom: clamp(7rem, -0.8rem + 34.67vw, 20rem);
    }
    .twi_menu{
        margin: 0 clamp(1rem, -0.2rem + 5.33vw, 3rem) 0 clamp(1rem, -0.2rem + 5.33vw, 3rem);
    }
    .insta_menu{
        margin: 0 clamp(1rem, -0.2rem + 5.33vw, 3rem) 0 clamp(1rem, -0.2rem + 5.33vw, 3rem);
    }
    .menu_text{
        font-size: clamp(1.5rem, 1.2rem + 1.33vw, 2rem);
        color: #E02828;
        margin: clamp(1rem, -0.8rem + 8vw, 4rem) 0;
    }
    /*SPtopintro*/
    .topintro{
        position: relative;
        width: 100%;
        height: clamp(48rem, 4.8rem + 192vw, 120rem);
    }
    .background_white_topintro{
        width: 100%;
        height: clamp(48rem, 4.8rem + 192vw, 120rem);
        background-image: url(../image/White_back.jpg);
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: repeat;
        z-index: 0;
        background-size: clamp(5.313rem, 0.469rem + 24.22vw, 15rem);
    }
    .spoon_spice{
        width: 82%;
        position: absolute;
        top: clamp(27rem, 7rem + 80vw, 55rem);
        left: 12%;
        z-index: 1;
    }
    .topintro_catch{
        width: 65%;
        position: absolute;
        top: clamp(2rem, 3.282rem + -5.47vw, 0rem);
        left: 5%;
    }
    .topintro_read{
        width: 86%;
        position: absolute;
        top: 16%;
        left: 6%;
        font-size:clamp(1rem, 0.1rem + 4vw, 2.5rem);
        line-height: 2em;
    }
    .redline{
        width: 100%;
        height: clamp(7rem, 0.4rem + 29.33vw, 18rem);
        background-image: url(../image/red_line_sp.png);
        background-repeat: repeat-x;
        z-index: 1;
        background-size: cover;
    }
    .redline_01{
        position: absolute;
        top: auto;
        left: 0;
        bottom: -1%;
    }
    /*SPspice_effect*/
    .spice_effect{
        position: relative;
        width: 100%;
        height: clamp(70rem, -8rem + 346.67vw, 200rem);
    }
    .background_red_spice_effect{
        width: 100%;
        height: clamp(70rem, -8rem + 346.67vw, 200rem);
        background-image: url(../image/red_back.jpg);
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: repeat;
        z-index: 0;
        background-size: clamp(5.313rem, 0.469rem + 24.22vw, 15rem);
    }
    .chili_icon{
        width: 16%;
        position: absolute;
        top: clamp(-1rem, -1.6rem + 2.67vw, 0rem);
        left: 0;
        right: 0;
        margin: auto;
        z-index: 1;
    }
    .headline_white{
        position: absolute;
        top: clamp(4rem, -3.2rem + 32vw, 16rem);
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        font-size: clamp(2rem, 0.8rem + 5.33vw, 4rem);
    }
    .headline{
        position: absolute;
        top: 9%;
        left: 0;
        right: 0;
        text-align: center;
        color: #fff;
        font-size: clamp(2rem, 0.8rem + 5.33vw, 4rem);
    }
    .spices{
        width: 57%;
        position: absolute;
        top: 10%;
        left: 0;
    }
    .spices2{
        width: 50%;
        position: absolute;
        top: 42%;
        right: 0;
    }
    .balloon1{
        width: 89%;
        position: absolute;
        top: 15%;
        left: 4%;
    }
    .balloon2_pc{
        display: none;
    }
    .balloon2_sp{
        width: 89%;
        position: absolute;
        top: 31%;
        left: 4%;
    }
    .balloon3{
        width: 89%;
        position: absolute;
        top: 48%;
        left: 4%;
    }
    .balloon4_pc{
        display: none;
    }
    .balloon4_sp{
        width: 89%;
        position: absolute;
        top: 65%;
        left: 4%;
    }
    .balloon1_text{
        width: 65%;
        position: absolute;
        top: clamp(11.5rem, -2rem + 60vw, 34rem);
        left: 21%;
    }
    .balloon2_text{
        width: 65%;
        position: absolute;
        top: clamp(22.5rem, -3.6rem + 116vw, 66rem);
        left: 21%;
    }
    .balloon3_text{
        width: 65%;
        position: absolute;
        top: clamp(34.5rem, -5.4rem + 177.33vw, 101rem);
        left: 21%;
    }
    .balloon4_text{
        width: 65%;
        position: absolute;
        top: clamp(46rem, -6.2rem + 232vw, 133rem);
        left: 21%;
    }
    .balloon_title{
        text-align: center;
        font-size: clamp(1.4rem, 0.62rem + 3.47vw, 2.7rem);
        font-weight: bold;
        margin-bottom: 5%;
    }
    .balloon_writing{
        text-align: center;
        font-size: clamp(1rem, 0.28rem + 3.2vw, 2.2rem);
    }
    .button_chili_01{
        width: 63%;
        position: absolute;
        top: clamp(58rem, -6.8rem + 288vw, 166rem);
        left: 0;
        right: 0;
        margin: auto;
    }
    .button_chili p{
        color: #fff;
        font-size: clamp(1.3rem, 0.7rem + 2.67vw, 2.3rem);
        text-align: center;
    }
    .button_chili img{
        width: 70%;
    }
    .whiteline_02{
        position: absolute;
        top: auto;
        bottom: 0;
        left: 0;
        bottom: -1%;
        z-index: 0;
    }
    /*SPrecipe*/
    .recipe{
        position: relative;
        width: 100%;
        height: clamp(132rem, 31.2rem + 448vw, 300rem);
    }
    .background_white_recipe{
        width: 100%;
        height: clamp(132rem, 31.2rem + 448vw, 300rem);
        background-image: url(../image/White_back.jpg);
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: repeat;
        z-index: 0;
        background-size: clamp(5.313rem, 0.469rem + 24.22vw, 15rem);
    }
    .chili_icon_red{
        width: 10%;
        position: absolute;
        top: 2%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .comment{
        width: 22%;
        position: absolute;
        top: 3%;
        left: 8%;
    }
    .headline_red{
        position: absolute;
        top: 6%;
        left: 0;
        right: 0;
        text-align: center;
        color: #E02828;
        font-size: clamp(2rem, 0.8rem + 5.33vw, 4rem);
    }
    /*
    .green_herb1{
        width: 30%;
        position: absolute;
        top: 20%;
        left:-10%;
    }
    .green_herb2{
        width: 30%;
        position: absolute;
        top: 40%;
        left: 80%;
    }
    .green_herb3{
        width: 30%;
        position: absolute;
        top: 60%;
        left: -10%;
    }
    */
    .recipe1_shadow{
        width: 75%;
        position: absolute;
        top: 11%;
        left: 17%;
    }
    .recipe2_shadow{
        width: 75%;
        position: absolute;
        top: 36%;
        left: 17%;
    }
    .recipe3_shadow{
        width: 75%;
        position: absolute;
        top: 62%;
        left: 17%;
    }
    .recipe1{
        width: 65%;
        position: absolute;
        top: 11%;
        left: 17%;
        border-radius: 50%;
    }
    .recipe2{
        width: 65%;
        position: absolute;
        top: 36%;
        left: 17%;
        border-radius: 50%;
    }
    .recipe3{
        width: 65%;
        position: absolute;
        top: 62%;
        left: 17%;
        border-radius: 50%;
    }
    .button_recipe{
        width: 83%;
        height: clamp(10rem, 8.8rem + 5.33vw, 12rem);
        text-align: center;
    }
    .button_title{
        font-size: clamp(1.5rem, 1.3rem + 1.33vw, 2rem);
        font-weight: bold;
        margin: 2rem;
    }
    .button_recipe a{
        display: inline-block;
        width: 70%;
        height: 42%;
        background: #EFE036; 
        color: #E02828;
        font-weight: bold;
        text-decoration: none;
        border-radius: 50px;
    }
    .button01 p{
        font-size: clamp(1.2rem, 0.72rem + 2.13vw, 2rem);
        margin: 1.4rem;
    }
    .button_recipe_01{
        position: absolute;
        top: clamp(30rem, 0.6rem + 130.67vw, 79rem);
        left: 9%;
    }
    .button_recipe_02{
        position: absolute;
        top: clamp(63rem, 8.4rem + 242.67vw, 154rem);
        left: 9%;
    }
    .button_recipe_03{
        position: absolute;
        top: clamp(98rem, 18.2rem + 354.67vw, 231rem);
        left: 9%;
    }
    .button_chili_02{
        width: 63%;
        position: absolute;
        top: 88%;
        left: 0;
        right: 0;
        margin: auto;
    }
    .button_chili .red_letters{
        color: #E02828;
        font-size: clamp(1rem, 0.1rem + 4vw, 2.5rem);
        text-align: center;
    }
    .redline_02{
        position: absolute;
        top: auto;
        left: 0;
        bottom: -1%;
    }
    /*SPcolumn*/
    .column{
        position: relative;
        width: 100%;
        height: clamp(100rem, 28rem + 320vw, 220rem);
    }
    .background_red_column{
        width: 100%;
        height: clamp(100rem, 28rem + 320vw, 220rem);
        background-image: url(../image/red_back.jpg);
        position: absolute;
        top: 0;
        left: 0;
        background-repeat: repeat;
        z-index: 0;
        background-size: clamp(5.313rem, 0.469rem + 24.22vw, 15rem);
    }
    .column_list{
        list-style-type: none;
    }
    .column_design{
        width: 77%;
        height: clamp(13rem, 3.4rem + 42.67vw, 29rem);
        position: relative;
    }
    .column_design img{
        width: 100%;
        height: clamp(8rem, 0.8rem + 32vw, 20rem);
        object-fit: cover;
        border-top-left-radius: clamp(3.75rem, 2.513rem + 5.5vw, 5.813rem);
        clip-path: polygon(100% 0, 100% 69%, 82% 100%, 0 100%, 0 0);
    }
    .column_triangle{
        position: absolute;
        top: clamp(6.8rem, 0.68rem + 27.2vw, 17rem);
        left: clamp(16rem, -0.5rem + 73.33vw, 43.5rem);
        border-right: clamp(0.625rem, 0.25rem + 1.67vw, 1.25rem) solid transparent;
        border-bottom: clamp(1.163rem, 0.638rem + 2.33vw, 2.038rem) solid #fff;
        border-left: clamp(0.625rem, 0.25rem + 1.67vw, 1.25rem) solid transparent; 
        transform:rotate(90deg);
        z-index: 2;
    }
    .column_design_info{
        width: 100%;
        height: clamp(4.5rem, 3rem + 6.67vw, 7rem);
        display: flex;
        margin-top: 2%;
    }
    .column_design_date{
        width: clamp(4.6rem, 3.16rem + 6.4vw, 7rem);
        height: 100%;
        margin: 0;
        display: table;
        background-color: #EFE036;
        padding: 0;
        position: relative;
    }
    .column_design_date p{
        color: #E02828;
        font-size: clamp(0.8rem, 0.38rem + 1.87vw, 1.5rem);
        line-height: 1.7;
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateY(-50%)translateX(-50%);
        -webkit-transform: translateY(-50%)translateX(-50%);        
    }
    .column_design_text{
        width: 85%;
        font-size: clamp(1rem, 0.58rem + 1.87vw, 1.7rem);
        padding: 2%;
        line-height: 1.3;
        color: #fff;
    }
    .column_01{
        position: absolute;
        top: 14%;
        left: 11%;
    }
    .column_02{
        position: absolute;
        top: 32%;
        left: 11%;
    }
    .column_img_02{
        width: 100%;
        height: 75%;
        background: linear-gradient(135deg, transparent 0%, transparent 45rem, #E02828 45rem), url(../image/blog2.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-top-left-radius: 30px;
    }
    .column_03{
        position: absolute;
        top: 50%;
        left: 11%;
    }
    .column_img_03{
        width: 100%;
        height: 75%;
        background: linear-gradient(135deg, transparent 0%, transparent 45rem, #E02828 45rem), url(../image/blog3.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-top-left-radius: 30px;
    }
    .column_04{
        position: absolute;
        top: 68%;
        left: 11%;
    }
    .column_img_04{
        width: 100%;
        height: 75%;
        background: linear-gradient(135deg, transparent 0%, transparent 45rem, #E02828 45rem), url(../image/blog4.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        border-top-left-radius: 30px;
    }
    .button_chili_03{
        width: 63%;
        position: absolute;
        top: 90%;
        left: 0;
        right: 0;
        margin: auto;
        z-index: 2;
    }
    .redline2{
        width: 100%;
        height: clamp(7rem, 0.4rem + 29.33vw, 18rem);
        background-image: url(../image/red_line_sp_02.png);
        background-repeat: repeat-x;
        background-size: cover;
    }
    .redline_03{
        position: absolute;
        top: auto;
        left: 0;
        bottom: -4%;
        z-index: 1;
        transform: rotate(180deg);
    }
    /*SPfooter*/
    .footer{
        position: relative;
    }
    .footer_pc{
        display: none;
    }
    .footer_sp{
        display: block;
        width: 100%;
        height: auto;
        z-index: 0;
    }
    .footer .text_01{
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translateY(-50%) translateX(-50%);
        margin: auto;
        font-size: clamp(2.5rem, 1.9rem + 2.67vw, 3.5rem);
        color: #E02828;
        z-index: 1;
    }
    .twi{
        width: 18%;
        position: absolute;
        top: 28%;
        left: 23%;
    }
    .insta{
        width: 18%;
        position: absolute;
        top: 28%;
        left: 60%;
    }
}
@media screen and (max-width: 520px) {
}